In [1]:
import pandas as pd
import time
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
from urllib.parse import urljoin

In [2]:
df=pd.read_csv("zomato_table1.csv")

In [3]:
df

,Unnamed: 0,name,urls,ratings,price,crusine
0,0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,₹250 for one,"Arabian, Biryani, North Indian, Chinese, Fast ..."
1,1,Hotel Revoli Inn,https://www.zomato.com/bangalore/hotel-revoli-...,3.9,₹250 for one,"Chinese, North Indian, Mughlai"
2,2,Bakingo,https://www.zomato.com/bangalore/bakingo-vasan...,4.2,₹250 for one,"Bakery, Desserts"
3,3,Truffles,https://www.zomato.com/bangalore/truffles-2-st...,4.3,₹250 for one,"Burger, American, Bakery, Italian, Oriental, C..."
4,4,McDonald's,https://www.zomato.com/bangalore/mcdonalds-mg-...,3.9,₹250 for one,"Burger, Fast Food"
...,...,...,...,...,...,...
1071,1071,Pass Me The Curry,https://www.zomato.com/bangalore/pass-me-the-c...,4.3,₹50 for one,"Sandwich, Burger, Rolls, Street Food"
1072,1072,Nammura Taaja Upahara,https://www.zomato.com/bangalore/nammura-taaja...,-,₹50 for one,"South Indian, North Indian, Chinese, Shake"
1073,1073,Reez Restaurant,https://www.zomato.com/bangalore/reez-restaura...,3.4,₹50 for one,"North Indian, Chinese, Mughlai, Rolls"
1074,1074,AL Zaika Restaurant,https://www.zomato.com/bangalore/al-zaika-rest...,3.4,₹50 for one,"Biryani, Chinese, Beverages, Fast Food, North ..."
1075,1075,Kingsway Restaurant,https://www.zomato.com/bangalore/kingsway-rest...,4.1,₹50 for one,"North Indian, Mughlai, Fast Food, Biryani, Sic..."

In [4]:
driver=webdriver.Chrome(executable_path="E:\\exe\\chromedriver.exe")

C:\Users\anmol\AppData\Local\Temp\ipykernel_14796\411148098.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(executable_path="E:\\exe\\chromedriver.exe")

In [5]:
delivery_reviews_num=[]
restaurant_address=[]
Latitude=[]
Longtitude=[]
Name=[]

In [6]:
for i in range(550):
    time.sleep(1)
    driver.get(df.urls[i])
    time.sleep(1)
    soup = BeautifulSoup(driver.page_source, "html.parser")
    review_tag = soup.find_all("div",class_="sc-1q7bklc-8 kEgyiI")
    reviewnum=review_tag[1].text
    
    address_tag=soup.find('a',class_="sc-clNaTc vNCcy")
    address=address_tag.text
    
    link_tag = soup.find('a', rel="noopener noreferrer")
    try:
        if 'href' in link_tag.attrs:
            link = link_tag.get('href')
    except:
        pass
    latitude=link[51:64]
    longtitude=link[65:]
    
    
    delivery_reviews_num.append(reviewnum)
    restaurant_address.append(address)
    Latitude.append(latitude)
    Longtitude.append(longtitude)
    Name.append(df.name[i])

IndexError: list index out of range

In [7]:
df2=pd.DataFrame({"Name":Name,"delivery_reviews_Count":delivery_reviews_num,"restaurant_address":restaurant_address,"Latitude":Latitude,"Longtitude":Longtitude})

In [8]:
df2

,Name,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,Le Arabia Restaurant,"1,892","Vijay Nagar, Bangalore",12.9597685745,77.5317597762
1,Hotel Revoli Inn,"1,862","Shanti Nagar, Bangalore",12.9559767755,77.5920712575
2,Bakingo,748,"Vasanth Nagar, Bangalore",12.9944153000,77.5938201000
3,Truffles,"1,822","St. Marks Road, Bangalore",12.9719284074,77.6010630280
4,McDonald's,"5,809","MG Road, Bangalore",12.9760215210,77.5982782245
...,...,...,...,...,...
514,Sarangi,51,"Rajajinagar, Bangalore",13.0043889000,77.5493712000
515,Starboy Pizza & Shakes,59,"Koramangala 7th Block, Bangalore",12.9363437800,77.6159290000
516,Mini Samrat Chalukya,"1,574","Vasanth Nagar, Bangalore",12.9929568465,77.5954471529
517,S M V Snacks Corner,432,"Basavanagudi, Bangalore",12.9490099091,77.5743834302
518,Just Bake - Cakes & Confectioners,697,"BTM, Bangalore",12.9240639119,77.6148224249

In [9]:
df2.to_csv("zomato_table2.csv")

In [10]:
driver.close()